<div style="text-align:center;">
    <a href="../Home/SetCompany?ID=0">
        <img class="addemploee" src="../Content/factory.png" title="Добавить организацию!" />
        <img class="addbutton" src="../Content/plus.png" title="Добавить организацию!" />
    </a>
    <h3>Компании</h3>
    <table border="1" style="width:90%; margin: 0 auto; text-align:center;">
        <tr>
            <td><p>№</p></td>
            <td><p>Имя</p></td>
            <td><p>Форма</p></td>
            <td><p>Размер</p></td>
            <td><p>Управление</p></td>
        </tr>

        @for (int i = 0; i < @ViewBag.CompanySet.Count; i++)
        {
            <tr>
                <td><p>@ViewBag.CompanySet[i].Id</p></td>
                <td><p>@ViewBag.CompanySet[i].Name</p></td>
                <td><p>@ViewBag.FormSet.GetNameById(@ViewBag.CompanySet[i].Form_id)</p></td>
                <td><p>@ViewBag.SizeSet.GetNameById(@ViewBag.CompanySet[i].Size_id)</p></td>

                <td>
                    <a href="../Home/SetCompany?ID=@ViewBag.CompanySet[i].Id" style="text-decoration:none;">
                        <img src="../Content/edit.png" title="Редактировать запись" width="25" height="25" />
                    </a>
                    <a href="../Home/DeleteCompany?ID=@ViewBag.CompanySet[i].Id" style="text-decoration:none;">
                        <img src="../Content/empty.png" title="Удалить запись" width="25" height="25" />
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

