<div style="text-align:center;">
    <a href="../Home/SetEmployee?ID=0">
        <img class="addemploee" src="../Content/addperson.png" title="Добавить сотрудника!" />
    </a>
    <h3>Работники</h3>
    <table border="1" style="width:90%; margin: 0 auto; text-align:center;">
        <tr>
            <td><p>№</p></td>
            <td><p>Имя</p></td>
            <td><p>Дата принятия</p></td>
            <td><p>Должность</p></td>
            <td><p>Компания</p></td>
            <td><p>Управление</p></td>
        </tr>

        @for (int i = 0; i < @ViewBag.EmployeeSet.Count; i++)
        {
            <tr>
                <td><p>@ViewBag.EmployeeSet[i].Id</p></td>
                <td><p>@ViewBag.EmployeeSet[i].NameView</p></td>
                <td><p>@ViewBag.EmployeeSet[i].Date.ToString("dd MMMMMMMMM yyyy")</p></td>
                <td><p>@ViewBag.PositionSet.GetItemById(@ViewBag.EmployeeSet[i].Position_Id).Name</p></td>
                <td><p>@ViewBag.CompanySet.GetItemById(@ViewBag.EmployeeSet[i].Company_Id).Name</p></td>

                <td>
                    <a href="../Home/SetEmployee?ID=@ViewBag.EmployeeSet[i].Id" style="text-decoration:none;">
                        <img src="../Content/editUser.png" title="Редактировать запись" width="25" height="25" />
                    </a>
                    <a href="../Home/DeleteEmployee?ID=@ViewBag.EmployeeSet[i].Id" style="text-decoration:none;">
                        <img src="../Content/empty.png" title="Удалить запись" width="25" height="25" />
                    </a>
                </td>
            </tr>
        }
    </table>
</div>