<div style="text-align:center;">
    <a href="../Home/SetEmployee?ID=0">
        <img class="addemploee" src="http://pngicon.ru/data/media/1/128_126.png" title="Добавить сотрудника!" />
    </a>
    <h3>Работники</h3>
    <table border="1" style="width:90%; margin: 0 auto; text-align:center;">
        <tr>
            <td><p>Id</p></td>
            <td><p>Name</p></td>
            <td><p>Date</p></td>
            <td><p>Position</p></td>
            <td><p>Company</p></td>
            <td><p>Controls</p></td>
        </tr>

        @*@for (int i = 0; i < @ViewBag.myList.Count; i++)
        {
            <tr>
                <td><p>@ViewBag.myList.GetItem(i).Id</p></td>
                <td><p>@ViewBag.myList.GetItem(i).NameView</p></td>
                <td><p>@ViewBag.myList.GetItem(i).Date.ToString("dd MMMMMMMMM yyyy")</p></td>
                <td><p>@ViewBag.myList.GetItem(i).Position_Id</p></td>
                <td><p>@ViewBag.myList.GetItem(i).Company_Id</p></td>

                <td>
                    <a href="#" style="text-decoration:none;">
                        <img src="https://icon-icons.com/icons2/217/PNG/512/male-user-edit_25348.png" title="Редактировать запись" width="25" height="25" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                        <img src="https://www.shareicon.net/download/2015/11/11/161167_empty_256x256.png" title="Удалить запись" width="25" height="25" />
                    </a>
                </td>
            </tr>
        }*@
    </table>
</div>